* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans serif;
   /* background-color: lavender; */
}

.container {
    width: 100%;
    height: 100vh;
    /* background-image: url(sunset-over-water.jpg); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.card {
    width: 90%;
    max-width: 500px;
    color: white;
    text-align: center;
    padding: 50px 25px;
    border: 1px solid rgba(225, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}*/

.card img {
    width: 140;
    border-radius: 50%;
}

.card p {
    font-size: 20px;
    margin: 40px;
    max-width: 350px;
}

nav {
    width: 100%;
    Position: fixed;
    top: 0;
    left: 0;
    background-color: none;
   
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: 0.3;
}

.icon a {
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    background: none;
    margin: 10px;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.1)
}



*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.4s ease-in;
  }
  
  h1 {
    text-align: center;
    margin-top: 1.25rem;
  }
  
  .container {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 4.25rem);
    place-content: center;
    gap: 1rem;
    text-align: center;
  }
  
  .dark-mode {
    background-color: #333;
    color: #f0f0f0;
    transition: all 0.7s ease-in;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.13rem;
    margin-bottom: 0.63rem;
    margin-inline: auto;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all 0.4s ease-in;
    border-radius: 2.13rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.63rem;
    width: 1.63rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.63rem);
  }


